/*center a pic*/
*{
    margin: 0;
    padding: 0;
}
.imgbox{
    display: grid;
    height: 100%;
}
.center-fit{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}


header
{
    font-family: "Garamond", Times, serif; font-size: large; text-align: center;
}

main
{
    font-family: "Garamond", Times, serif; font-size: medium; text-align: left;
}

footer
{
    font-family: "Garamond", Times, serif; font-size: small; text-align: right;
}

h4.b
{
  font-style: italic;
}

h6.a
{
  font-weight: bold;
}

/*links*/
a:link
{
  text-decoration: underline;
}
a:hover
{
  text-decoration: none;
  color: #30D5C8;
}

  /*spaces*/
  body {padding-bottom: 100px;}
  p {padding-bottom: 15px;}