h1 {
  margin: auto;
  font-family: 'Ubuntu', sans-serif;
  font-variant: small-caps;
}

nav:hover {
  background-color: #3c738a;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: black;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #3c738a;
}

h4 {
  font-family: 'Ubuntu', sans-serif;
}

section {
  background-color: hsl(0, 0%, 97%, .25);
}

footer {
  font-size: small;
  font-variant: small-caps;
  text-align: right;
}

img {
  width: 25%;
}

a:hover{
  color: red;
  font-style: oblique;
}

ul {
  list-style-type: none;
}

li:hover {
  list-style-type: none;
  border: 1px solid black;
}

li {
  padding: 1em;
}

.center {
  margin: auto;
  width: 25%;
}

.contact-icon {
  font-size: 150%;
}

.list-icon {
  font-size: 200%;
  padding: .25em;
  color: white;
}

.container {
  height: 150%;
  background-color: hsl(0, 0%, 97%, .25);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* great way to center on website */
  align-items: center;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 2em;
}

.box {
    height: 8em;
    width: 8em;
    background: #3c738a;
}

.box:hover {
  background: grey;
}

.linktext{
  color: white;
}
